{% extends "base.html" %}

{% block page_content %}
Hello, 
{% if current_user.is_authenticated %}
	{{ current_user.username }}
{% else %}
	New
{% endif %}
<p>
08年出去旅游跟团的我和我爸一直很要好，所以我平时逛街什么都喜欢勾着我爸爸。同团的一个女的，我估计他已经憋了很久了。终于有一天在车上她问我们，你们俩是？我回答，我们同一个姓，你说呢？然后她尴尬的笑笑我觉得不是你们像不像，而是有些人就喜欢恶意揣测，我爸的确长的挺年轻不显老，而且打扮时髦，而我也正值20岁，但是，俩人差那么多难道你就没点眼力劲？一般我认为看到年轻女孩和年纪大的男得不都应该先联想成父女么？所以说到底这个社会的三观正在腐坏，不是么？再说了，你有见过俩背影走路姿势包括一模一样的干爹和女儿么！

作者：Jessica pan
链接：https://www.zhihu.com/question/24117081/answer/332380128
来源：知乎
著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。
</p>
{% endblock %}
